<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define the MyService bean -->
    <bean id="myService" class="free.servpp.sppframe.spring.test.MyService"/>
    <bean id="myNameService" class="free.servpp.sppframe.spring.test.MyNameService"/>
</beans>